<div class="logo">
  <a routerLink="/home">
    <img src="../../assets/img/LekhanInWhite.svg" alt="App logo" class="img-fluid">
  </a>
</div>
<mat-divider></mat-divider>

  <select class="form-select" [(ngModel)]="selectedMenu" (change)="toHome()">
    <option selected disabled hidden [ngValue]="0" style="color: white">Reader menu</option>
    <option *ngFor="let items of usertypes" [ngValue]="items.usertypeid" >{{items.type}} menu</option>
  </select>

<div class="client-sidenav" *ngIf="selectedMenu === 0">
  <mat-nav-list>

    <p class=" subheader mt-2">Applications</p>

    <mat-list-item>
      <a routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Home
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/login" routerLinkActive="list-item-active">
        <mat-icon>login</mat-icon> Login
      </a>
    </mat-list-item>
    <!-- <a mat-list-item routerLink="/Dashboard" routerLinkActive="list-item-active">
      <mat-icon>settings</mat-icon> Settings
    </a> -->

    <mat-list-item>
      <a routerLink="/signup" routerLinkActive="list-item-active">
        <mat-icon>how_to_reg</mat-icon> Signup
      </a>
    </mat-list-item>
    <!-- <a mat-list-item routerLink="/Dashboard" routerLinkActive="list-item-active">
      <mat-icon>settings</mat-icon> Settings
    </a> -->

  </mat-nav-list>
</div>






<div class="author-sidenav" *ngIf="selectedMenu === 1">

  <mat-nav-list>

    <p class=" subheader mt-2">Applications</p>

    <mat-list-item>
      <a routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Home
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> My articles
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/create" routerLinkActive="list-item-active">
        <mat-icon>edit</mat-icon> Write content
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/error" routerLinkActive="list-item-active">
        <mat-icon>timeline</mat-icon> Track status
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>description</mat-icon> Archives
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/error" routerLinkActive="list-item-active">
        <mat-icon>settings</mat-icon> Settings
      </a>
    </mat-list-item>

  </mat-nav-list>
</div>



<div class="qa-sidenav" *ngIf="selectedMenu === 2">

  <mat-nav-list>

    <p class=" subheader mt-2">Applications</p>

    <mat-list-item>
      <a routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Home
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>task_alt</mat-icon> Check requests
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>list_alt</mat-icon> Pool
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>description</mat-icon> Archives
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/error" routerLinkActive="list-item-active">
        <mat-icon>settings</mat-icon> Settings
      </a>
    </mat-list-item>

  </mat-nav-list>
</div>


