<div class="logo">
  <img src="../../assets/img/LekhanInWhite.svg" alt="App logo" class="img-fluid">
</div>
<mat-divider></mat-divider>

<!-- <mat-form-field appearance="fill">
    <mat-label>Usertype</mat-label>
    <mat-select>
      <mat-option *ngFor="let items of usertypes" [value]="items.usertypeid">
      </mat-option>
    </mat-select>
  </mat-form-field> -->


<form>
  <select class="form-select" formControlName="usertypeid" formControlName="usertypeid" aria-placeholder="Usertype">
    <option disabled hidden value="" style="color: white">Select menu</option>
    <option *ngFor="let items of usertypes" [ngValue]="items.usertypeid" ><strong>{{items.type}} menu</strong></option>
  </select>
</form>

<div class="select">
  <select class="form-select" formControlName="usertypeid" aria-placeholder="Usertype">
    <option disabled hidden value="" style="color: white">Select menu
      <span class="material-icons-outlined" style="color:white">
      expand_more
      </span>
    </option>
    <option *ngFor="let items of usertypes" [ngValue]="items.usertypeid" ><strong>{{items.type}} menu</strong></option>
  </select>
</div>

<div class="client-sidenav">
  <mat-nav-list>

    <p class=" subheader mt-2">Applications</p>

    <mat-list-item>
      <a routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Home
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/login" routerLinkActive="list-item-active">
        <mat-icon>login</mat-icon> Login
      </a>
    </mat-list-item>
    <!-- <a mat-list-item routerLink="/Dashboard" routerLinkActive="list-item-active">
      <mat-icon>settings</mat-icon> Settings
    </a> -->

    <mat-list-item>
      <a routerLink="/signup" routerLinkActive="list-item-active">
        <mat-icon>person_add</mat-icon> Signup
      </a>
    </mat-list-item>
    <!-- <a mat-list-item routerLink="/Dashboard" routerLinkActive="list-item-active">
      <mat-icon>settings</mat-icon> Settings
    </a> -->

  </mat-nav-list>
</div>






<div class="author-sidenav">
  <div class="logo">
    <img src="../../assets/img/LekhanInWhite.svg" alt="App logo" class="img-fluid">
  </div>
  <mat-divider></mat-divider>

  <mat-nav-list>

    <p class=" subheader mt-2">Applications</p>

    <mat-list-item>
      <a routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Home
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> My articles
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/create" routerLinkActive="list-item-active">
        <mat-icon>edit</mat-icon> Write content
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/error" routerLinkActive="list-item-active">
        <mat-icon>timeline</mat-icon> Track status
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>description</mat-icon> Archives
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/error" routerLinkActive="list-item-active">
        <mat-icon>settings</mat-icon> Settings
      </a>
    </mat-list-item>

  </mat-nav-list>
</div>



<div class="qa-sidenav">
  <div class="logo">
    <img src="../../assets/img/LekhanInWhite.svg" alt="App logo" class="img-fluid">
  </div>
  <mat-divider></mat-divider>

  <mat-nav-list>

    <p class=" subheader mt-2">Applications</p>

    <mat-list-item>
      <a routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Home
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>task_alt</mat-icon> Check requests
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>list_alt</mat-icon> Pool
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>description</mat-icon> Archives
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/error" routerLinkActive="list-item-active">
        <mat-icon>settings</mat-icon> Settings
      </a>
    </mat-list-item>

  </mat-nav-list>
</div>


