.logo{
  width: 120px;
  height: 64px;
  /* margin: auto; */
  margin-left: 20px;
}

.logo img{
  height:64px;
}

.mat-divider{
  border-top-width: 2px;
  border-color: white;
}

select{
  background: #0f172a;
  color: white;
  height: 44px;
  width: 100%;
  padding-left: 28px;
}

.subheader{
  margin-left: 20px;
  color: #818cf8;
  font-size: 1rem;
  font-weight: 100;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

.create-button{
  color: #94a3b8;
  /* border-color: white; */
}

a{
  text-decoration: none;
  color: #94a3b8;
  height: 44px !important;
  margin-bottom: 4px;

}

mat-nav-list{
  margin: 0 8px;
}

mat-list-item:hover{
  border-radius: 5px;
  /* background: white; */
  background: #2c3344;
}

mat-icon{
  vertical-align:bottom;
  padding-right: 35px;
}

/* css for my articles tab */
.active-list{
  color: #f2f5f7;
}
.not-active-list{
  text-decoration: none;
  color: #94a3b8;
}

.list-item-active {
  color: #f2f5f7;
}
/* .list-item-active ::ng-deep .mat-list-item-content {
  background: #2c3344;
} */
/* .list-item-active ::ng-deep .mat-list-item-content:hover {
  background: #2c3344;
} */
