<div class="logo">
  <a routerLink="/home">
    <img src="../../assets/img/LekhanInWhite.svg" alt="App logo" class="img-fluid">
  </a>
</div>
<mat-divider></mat-divider>

  <select class="form-select" [(ngModel)]="selectedMenu" (change)="toHome()" [hidden]="true">
    <option selected disabled hidden [ngValue]="0" style="color: white">Reader menu</option>
    <option *ngFor="let items of usertypes" [ngValue]="items.usertypeid" [hidden]="items.usertypeid!=selectedMenu" >{{items.type}} menu</option>
  </select>


<div class="client-sidenav" *ngIf="selectedMenu === 0">
  <mat-nav-list>

    <p class=" subheader mt-2">Applications</p>

    <mat-list-item routerLink="/home">
      <a routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Home
      </a>
    </mat-list-item>

    <mat-list-item routerLink="/login">
      <a routerLink="/login" *ngIf="!isLoggedIn" routerLinkActive="list-item-active">
        <mat-icon>login</mat-icon> Login
      </a>
    </mat-list-item>

    <mat-list-item routerLink="/signup">
      <a routerLink="/signup" *ngIf="!isLoggedIn" routerLinkActive="list-item-active">
        <mat-icon>how_to_reg</mat-icon> Signup
      </a>
    </mat-list-item>

  </mat-nav-list>
</div>






<div class="author-sidenav" *ngIf="selectedMenu === 1">

  <mat-nav-list>

    <!-- <p class=" subheader mt-2">Applications</p> -->

    <mat-list-item routerLink="/create" (click)="showNestedList=false" style="background: #3B71CA;">
      <a routerLink="/create" routerLinkActive="list-item-active">
        <mat-icon>post_add</mat-icon>Create new content
      </a>
    </mat-list-item>


    <mat-list-item (click)="toggleNestedList()">
      <a [ngClass]="{'active-list-item': selectedStatus,'not-active-list-item':!showNestedList}"  >
        <mat-icon>dashboard</mat-icon> My articles
        <mat-icon>{{showNestedList ? 'expand_less' : 'expand_more'}}</mat-icon>
      </a>
    </mat-list-item>

  <!-- ******************nested-list for author******************** -->
    <div class="nested-list" *ngIf="showNestedList" style="display: flex; flex-direction: column;">
      <mat-list-item (click)="selectAllArticles()" style="padding-left: 40px;">
        <p [ngClass]="{'list-paragraph':true, 'active-list-item': selectedStatus === 1}"><mat-icon>view_list</mat-icon>All articles</p>
      </mat-list-item>
      <mat-list-item (click)="selectSaved()" style="padding-left: 40px;">
        <p [ngClass]="{'list-paragraph':true, 'active-list-item': selectedStatus === 2}"><mat-icon>bookmark</mat-icon>Saved</p>
      </mat-list-item>
      <mat-list-item (click)="selectFinalized()" style="padding-left: 40px;">
        <p [ngClass]="{'list-paragraph':true, 'active-list-item': selectedStatus === 3}"><mat-icon>bookmark_added</mat-icon>Finalized</p>
      </mat-list-item>
      <mat-list-item (click)="selectQARequested()" style="padding-left: 40px;">
        <p [ngClass]="{'list-paragraph':true, 'active-list-item': selectedStatus === 4}"><mat-icon>timeline</mat-icon>QA requested</p>
      </mat-list-item>
      <mat-list-item (click)="selectQAChecked()" style="padding-left: 40px;">
        <p [ngClass]="{'list-paragraph':true, 'active-list-item': selectedStatus === 5}"><mat-icon>check</mat-icon>QA Approved</p>
      </mat-list-item>
      <mat-list-item (click)="selectCRRequested()" style="padding-left: 40px;">
        <p [ngClass]="{'list-paragraph':true, 'active-list-item': selectedStatus === 6}"><mat-icon>timeline</mat-icon>CR requested</p>
      </mat-list-item>
      <mat-list-item (click)="selectPublished()" style="padding-left: 40px;">
        <p [ngClass]="{'list-paragraph':true, 'active-list-item': selectedStatus === 7}"><mat-icon>done_all</mat-icon>Published</p>
      </mat-list-item>
    </div>
  <!-- ******************nested list for author ends******************** -->


    <mat-list-item routerLink="/archives" (click)="showNestedList=false">
      <a routerLink="/archives" routerLinkActive="list-item-active">
        <mat-icon>table</mat-icon> Archives
      </a>
    </mat-list-item>

    <mat-list-item routerLink="/error" (click)="showNestedList=false">
      <a routerLink="/error" routerLinkActive="list-item-active">
        <mat-icon>settings</mat-icon> Settings
      </a>
    </mat-list-item>

  </mat-nav-list>
</div>

<mat-drawer mode="side" [opened]="showArticlesList" position="end" *ngIf="selectedMenu === 1">
  <div class="articles-list">
    <mat-nav-list>
      <mat-list-item (click)="closeArticlesList()">
        <p style="margin: 10px 0px; color: white;"><mat-icon>arrow_back</mat-icon>Go back</p>
      </mat-list-item>
      <div class="scrollable-list">
        <mat-list-item *ngFor="let article of articlesData" matTooltip="{{article.title}}" matTooltipPosition="after" style="height: auto;" (click)="viewArticle(article)">
          <div style="display: flex; flex-direction: row; margin: 10px 0px; color: #94a3b8;">
            <div style="display: flex; align-items: center; justify-content: center;">
              <mat-icon class="icon">stars</mat-icon>
            </div>
            <div>
              <p style="font-size: medium; margin: 0%;">{{article.title}}</p>
              <p style="font-size: smaller; margin: 0%;">{{article.submissiondate}}</p>
            </div>
          </div>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </div>
</mat-drawer>


















<div class="qa-sidenav" *ngIf="selectedMenu === 2">

  <mat-nav-list>

    <p class=" subheader mt-2">Applications</p>

    <mat-list-item routerLink="/qapool" (click)="showNestedList=false">
      <a routerLink="/qapool" routerLinkActive="list-item-active">
        <mat-icon>list_alt</mat-icon> Pool
      </a>
    </mat-list-item>

    <mat-list-item routerLink="/qapending">
      <a routerLink="/qapending" routerLinkActive="list-item-active">
        <mat-icon>pending</mat-icon> Pending requests
      </a>
    </mat-list-item>

    <mat-list-item routerLink="/qacomplete">
      <a routerLink="/qacomplete" routerLinkActive="list-item-active">
        <mat-icon>task_alt</mat-icon> Completed requests
      </a>
    </mat-list-item>



    <!-- <mat-list-item (click)="toggleNestedList()">
      <a [ngClass]="{'active-list-item': showNestedList,'not-active-list-item':!showNestedList}"  >
        <mat-icon>rule</mat-icon> Check requests
        <mat-icon>{{showNestedList ? 'expand_less' : 'expand_more'}}</mat-icon>
      </a>
    </mat-list-item>

    <div class="nested-list" *ngIf="showNestedList" style="display: flex; flex-direction: column;">
      <mat-list-item routerLink="/qapending" style="padding-left: 40px;">
        <a routerLink="/qapending" routerLinkActive="list-item-active">
          <mat-icon>pending</mat-icon> Pending requests
        </a>
      </mat-list-item>
      <mat-list-item routerLink="/qacomplete" style="padding-left: 40px;">
        <a routerLink="/qacomplete" routerLinkActive="list-item-active">
          <mat-icon>task_alt</mat-icon> Completed requests
        </a>
      </mat-list-item>
    </div> -->


    <mat-list-item routerLink="/archives" (click)="showNestedList=false">
      <a routerLink="/archives" routerLinkActive="list-item-active">
        <mat-icon>description</mat-icon> Archives
      </a>
    </mat-list-item>

    <mat-list-item routerLink="/error" (click)="showNestedList=false">
      <a routerLink="/error" routerLinkActive="list-item-active">
        <mat-icon>settings</mat-icon> Settings
      </a>
    </mat-list-item>

  </mat-nav-list>
</div>


