mat-toolbar{
  position: sticky;
  top:0;
  z-index: 100;
  background-color: #f7f7f7;
}

ul li{
  list-style: none;

}

button{
  border: 0;
  outline: none;
  background: transparent;
}

.user{
  font-size: 14px;
}
mat-icon{
  align-items: center;
  text-align: center;
}

::ng-deep .mat-menu-content {
  width: 160px;
}
