.title-box{
  background: #1e293b;
  color: white;
  font-size: 25px;
  min-height: 120px;
  margin: 0 -1rem;
}

.main-content{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: -3rem;
  border-radius: 10px;
  min-height: calc(100vh - 184px);
}

tr{
  width: 100px;
}
