<div class="container-fluid">
  <div class="title-box p-4">Articles pool</div>
  <div class="main-content">

    <div class="table-responsive" style="width: 100%;">
      <table class="table table-striped table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Finalized date</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let article of FinalizedArticles">
            <th scope="row" (click)="openCardDetails(article)">{{article.contentid}}</th>
            <td matTooltip="{{article.title}}" matTooltipPosition="before" (click)="openCardDetails(article)">{{article.title}}</td>
            <td (click)="openCardDetails(article)">{{article.authorname}}</td>
            <td (click)="openCardDetails(article)">{{article.submissiondate}}</td>
            <td class="text-success" (click)="openCardDetails(article)">{{article.status}}</td>
            <td class="text-primary"><button class="btn btn-primary" (click)="assignToMe(article.contentid)">Assign to me</button></td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>
