<!-- <div class="container-fluid">
  <div class="row">

    <div class="img-div col-lg-5">
      <img src="../../assets/img/writer.svg" alt="" class="img-fluid" style="padding: 10px">
    </div>
    <div class="form-div col-lg-7 text-center" style="margin:auto ">
      <img src="../../assets/img/LekhanWithTagline.svg" alt="logo" class="logo img-fluid" >

      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
        <div class="form-group col-lg-7" style="margin:auto">
          <input formControlName="usermail" placeholder="Enter registered mail" [ngClass]="{'is-invalid':loginSubmitted && loginForm.controls.usermail.errors}" type="email" class="form-control">
          <div *ngIf="loginSubmitted && loginForm.controls.usermail.errors" class="text-danger">
            <div *ngIf="loginSubmitted && loginForm.controls.usermail.errors.required">usermail can't be empty</div>
            <div *ngIf="loginSubmitted && loginForm.controls.usermail.errors.email">email not valid</div>
          </div>
        </div>

        <div class="form-group col-lg-7" style="margin:auto">
          <input formControlName="userpass" placeholder="Enter password" [ngClass]="{'is-invalid':loginSubmitted && loginForm.controls.userpass.errors}" type="password" class="form-control">
          <div *ngIf="loginSubmitted && loginForm.controls.userpass.errors" class="text-danger">
            <div *ngIf="loginSubmitted && loginForm.controls.userpass.errors.required">password is required</div>
            <div *ngIf="loginSubmitted && loginForm.controls.userpass.errors.minLength">password should be at least 3 charachers</div>
          </div>
        </div>

        <div class="form-group col-lg-7" style="margin:auto">
          <button class="loginbtn" id="loginbtn" type="submit"><strong>Login to the application</strong></button>
          <p style="margin-bottom: 30px;"><strong>Don't have an account? </strong><a href="#" style="color: #1C94FF;" routerLink="/Signup"><strong>Sign up</strong></a></p>
        </div>
      </form>
    </div>
  </div>
</div> -->













<!--

Previous code

<div class="container" [hidden] = !showlogin>
  <div class="row">

    <div class="img-div col-lg-5">
      <img src="../../assets/img/writer.svg" alt="" class="img-fluid" style="padding: 10px">
    </div>
    <div class="form-div col-lg-7 text-center" style="margin:auto ">
      <img src="../../assets/img/LekhanWithTagline.svg" alt="logo" class="logo img-fluid" >

      <form action="submit" (ngSubmit)="onLogin()">

        <div class="form-group col-lg-7" style="margin:auto;">
          <input type="email" class="form-control" id="loginUserMail" placeholder="Enter registered mail">
        </div>

        <div class="form-group col-lg-7" style="margin:auto;">
          <input type="password" class="form-control" id="loginUserPassword" placeholder="Password">
        </div>

        <div class="form-group col-lg-7 " style="margin:auto;">
          <button class="loginbtn" id="loginbtn"><strong>Login to the application</strong></button>
        </div>
        <p style="margin-bottom: 30px;"><strong>Don't have an account? </strong><a href="#" (click)="loginShow()" style="color: #1C94FF;"><strong>Register here</strong></a></p>
      </form>
    </div>
  </div>
</div>





<div class="container" [hidden] = showlogin>
  <div class="row">
    <div class="img-div col-lg-5">
      <img src="../../assets/img/writer.svg" alt="" class="img-fluid" style="padding: 10px">
    </div>
    <div class="form-div col-lg-7 text-center" style="margin:auto ">
      <img src="../../assets/img/LekhanWithTagline.svg" alt="logo" class="logo img-fluid" >

      <form action="submit" #signupForm="ngForm" (ngSubmit)="onSignup(signupForm.value)">

        <div class="form-group col-lg-7" style="margin:auto;">
          <input type="email" class="form-control" id="signupUserMail" name="usermail" placeholder="Enter registration mail" ngModel>
        </div>

        <div class="form-group col-lg-7" style="margin:auto;">
          <input type="text" class="form-control" id="signupUserName" name="username" placeholder="Enter username" ngModel>
        </div>

        <div class="form-group col-lg-7" style="margin:auto;">
          <select class="form-select" id="signupUserType" name="usertypeid" aria-label="Default select example" [(ngModel)]="usertypeid" >
            <option disabled selected hidden style="color: #1C94FF; font-weight: 700;">Select usertype</option>
            <option value="1" style="color: #1C94FF; font-weight: 700;">Usertype: Author</option>
            <option value="2" style="color: #1C94FF; font-weight: 700;">Usertype: QualityAnalyst</option>
            <option value="3" style="color: #1C94FF; font-weight: 700;">Usertype: ControlRoom</option>
          </select>
        </div>

        <div class="form-group col-lg-7" style="margin:auto;">
          <input type="password" class="form-control" id="signupUserPassword" name="userpass" placeholder="Password" ngModel>
        </div>

        <div class="form-group col-lg-7" style="margin:auto;">
          <input type="password" class="form-control" id="signupUserPassword1" name="userpass1" placeholder="Confirm Password" ngModel>
        </div>

        <div class="form-group col-lg-7 " style="margin:auto;">
          <button class="signupbtn" id="signupbtn" type="submit"><strong>Sign up as a new user</strong></button>
        </div>
        <p style="margin-bottom: 30px;"><strong>Already have an account? </strong><a href="#" style="color: #1C94FF;" (click)="loginShow()"><strong>Login</strong></a></p>
      </form>
    </div>
  </div>
</div>

 -->



  <div class="container-fluid">
    <div class="title-box p-4">Log in to start</div>
    <div class="main-content">

    <div class="login-container">
      <div class="row">

        <div class="img-div col-lg-5">
          <img src="../../assets/img/writer.svg" alt="" class="img-fluid" style="padding: 10px">
        </div>
        <div class="form-div col-lg-7 text-center" style="margin:auto ">
          <img src="../../assets/img/LekhanWithTagline.svg" alt="logo" class="logo img-fluid" >

          <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
            <div class="form-group col-lg-7" style="margin:auto">
              <input formControlName="usermail" placeholder="Enter registered mail" [ngClass]="{'is-invalid':loginSubmitted && loginForm.controls.usermail.errors}" type="email" class="form-control">
              <div *ngIf="loginSubmitted && loginForm.controls.usermail.errors" class="text-danger">
                <div *ngIf="loginSubmitted && loginForm.controls.usermail.errors.required">usermail can't be empty</div>
                <div *ngIf="loginSubmitted && loginForm.controls.usermail.errors.email">email not valid</div>
              </div>
            </div>

            <div class="form-group col-lg-7" style="margin:auto">
              <input formControlName="userpass" placeholder="Enter password" [ngClass]="{'is-invalid':loginSubmitted && loginForm.controls.userpass.errors}" type="password" class="form-control">
              <div *ngIf="loginSubmitted && loginForm.controls.userpass.errors" class="text-danger">
                <div *ngIf="loginSubmitted && loginForm.controls.userpass.errors.required">password is required</div>
                <div *ngIf="loginSubmitted && loginForm.controls.userpass.errors.minLength">password should be at least 3 charachers</div>
              </div>
            </div>

            <div class="form-group col-lg-7" style="margin:auto">
              <button class="loginbtn" id="loginbtn" type="submit"><strong>Login to the application</strong></button>
              <p style="margin-bottom: 30px;"><strong>Don't have an account? </strong><a href="#" style="color: #1C94FF;" routerLink="/signup"><strong>Sign up</strong></a></p>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
